<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="file2_style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <title>Galaxt Zoo</title>
  </head>
  <body>
    <div class="help">
      <h1 class="heading">Help</h1>
      <p class="text">
        Disc galaxies are very thin, so they look different when viewed from the side. We're trying to find exactly edge-on galaxies with this question. If the galaxy looks needle-like, perhaps with a bulge at the centre, then click "yes," otherwise choose "no" (even for galaxies that are almost edge-on). Click on the images to see larger examples.
      </p>
      <div class="examples">
        <h3 class="sub-heading">Example</h3>
          <div class="row">
            <ul>
              <li>
                <img src="images/yes0.png" alt="samlesmooth">
                <h4>Yes</h4>
              </li>
              <li>
                <img src="images/yes01.png" alt="smooth">
              </li>
              <li>
                <img src="images/yes02.png" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/no0.png" alt="samlesmooth">
                <h4>No</h4>
              </li>
              <li>
                <img src="images/no01.png" alt="smooth">
              </li>
              <li>
                <img src="images/no02.png" alt="smooth">
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>