<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="file2_style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <title>Galaxt Zoo</title>
  </head>
  <body>
    <div class="help">
      <h1 class="heading">Help</h1>
      <p class="text">
        It's not always easy to tell, but look at the centre of the galaxy for a round bulge of stars which may obscure any bar and the spiral arms in this central region. If you see a bulge, rank its size and brightness compared to the rest of the galaxy's disk. Click on the images to see larger examples.

      </p>
      <div class="examples">
        <h3 class="sub-heading">Example</h3>
          <div class="row">
            <ul>
              <li>
                <img src="images/nobulge0 copy.png" alt="samlesmooth">
                <h4>No bulge</h4>
              </li>
              <li>
                <img src="images/nobulge01 copy.png" alt="smooth">
              </li>
              <li>
                <img src="images/nobulge02 copy.png" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/obvious0.png" alt="samlesmooth">
                <h4>Obvious</h4>
              </li>
              <li>
                <img src="images/obvious01.png" alt="smooth">
              </li>
              <li>
                <img src="images/obvious02.png" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/samplestar.png" alt="samlesmooth">
                <h4>Dominent</h4>
              </li>
              <li>
                
              </li>
              <li>
                
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>