<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="file2_style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <title>Galaxt Zoo</title>
  </head>
  <body>
    <div class="help">
      <h1 class="heading">Help</h1>
      <p class="text">
        Astronomers classify spiral galaxies by how tight their arms are — you might find it easiest to assess this by looking at the arms where they're closest to the centre. Click on the images to see larger examples.
      </p>
      <div class="examples">
        <h3 class="sub-heading">Example</h3>
          <div class="row">
            <ul>
              <li>
                <img src="images/one0.png" alt="samlesmooth">
                <h4>1</h4>
              </li>
              <li>
                <img src="images/one01.png" alt="smooth">
              </li>
              <li>
                <img src="images/one02.png" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/two0.png" alt="samlesmooth">
                <h4>2</h4>
              </li>
              <li>
                <img src="images/two01.png" alt="smooth">
              </li>
              <li>
                <img src="images/two02.png" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/three0.png" alt="samlesmooth">
                <h4>3</h4>
              </li>
              <li>
                <img src="images/three02.png" alt="samlesmooth">
              </li>
              <li>
                <img src="images/three01.png" alt="samlesmooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="images/four0.png" alt="samlesmooth">
                <h4>4</h4>
              </li>
              <li>
                <img src="images/four02.png" alt="samlesmooth">
              </li>
              <li>
                <img src="images/four01.png" alt="samlesmooth">
              </li>
            </ul>
          </div>
        <div class="row">
            <ul>
              <li>
                <img src="images/morethan0.png" alt="samlesmooth">
                <h4>More than 4</h4>
              </li>
              <li>
                <img src="images/morethan01.png" alt="samlesmooth">
              </li>
              <li>
                <img src="images/morethan02.png" alt="samlesmooth">
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>