{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type= "text/css" href="{% static 'crowdclass/file2_style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <title>Galaxt Zoo</title>
  </head>
  <body>
    <div class="help">
      <h1 class="heading">Help</h1>
      <p class="text">
        Astronomers classify spiral galaxies by how tight their arms are — you might find it easiest to assess this by looking at the arms where they're closest to the centre. Click on the images to see larger examples.
      </p>
      <div class="examples">
        <h3 class="sub-heading">Example</h3>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "crowdclass/images/tight0.png"%}"alt="samlesmooth">
                <h4>Tight</h4>
              </li>
              <li>
                <img src="{% static "crowdclass/images/tight01.png"%}" alt="smooth">
              </li>
              <li>
                <img src="{% static "crowdclass/images/tight02.png"%}" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "crowdclass/images/medium0.png"%}" alt="samlesmooth">
                <h4>Medium</h4>
              </li>
              <li>
                <img src="{% static "crowdclass/images/mideum01.png"%}"  alt="smooth">
              </li>
              <li>
                <img src="{% static "crowdclass/images/medium02.png"%}" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "crowdclass/images/loose0.png"%}" alt="samlesmooth">
                <h4>Loose</h4>
              </li>
              <li>
              </li>
              <li>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>