{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type= "text/css" href="{% static 'crowdclass/pretest_style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Crowdclass</title>
  </head>
  <body>
    <div class="header">
     <!--  I used the first question inside pretest.txt as an example -->
      <h1>Medium<h1>
       <!--  Tags are here. -->
    </div>
    <div class="main">
      <div class="question">
        <p>
        Congratulations! You have now mastered the beginner level.</br>
        In this new module, we will be learning about galaxy dynamics, including:</br>
         - what explains the bright bulge  at the center of a spiral galaxy</br>
         - what types of interactions occur when galaxies get too close to each other</br>
         - what happens when galaxies merge with one another</br>

<!--         The question sentence is here. -->
        </p>
      </div>
    </div>
  </body>
</html>
